<div class="all-home">    
  <header>
    <div class="header-list">
      <ul>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "参考書にログイン", englishes_path %></li>  
        <li><%= link_to "動画にログイン", videos_path %></li>
      </ul>
    </div>
  </header>  
  <div class="tweets-container">
    <div class="go"><h1>英語で、エイ、エイ、GO</h1></div>
  </div>
  <div class="home">
    <div class="home-box">
      <div class="home-show">
        <h3>サイト概要</h3>
        こちらのサイトでは、TOEICの教材や動画を紹介しあうためのサイトになってます。
        その名も「英語で、エイ、エイ、GO」。
        より便利に使っていただけるために、「参考書」と「動画」の２つに分けて投稿出来るようにしています。
        「参考書」では、ご自身の使っているTOEICの教材をコメントをしながら紹介出来ます。
        「動画」では、TOEICの勉強に関するYoutubeの動画を紹介することが出来ます。
      </div>
      <div class="how-use">
        <h3>使い方</h3>
        ホーム上にそれぞれの一覧ページへログインします。
        初めてのご利用の際は、新規登録をお願いします。
        一覧ページへ移ったら、タグ機能が上にあるので、そこで気になるキーワードをチェックしてください。
        チェックしたキーワードを元に、投稿物が絞られます。
        また、自分が投稿する際にもタグを選択できるので、是非ご利用ください！
        タグ以外にも気になるワードを自分で検索することも出来ます。
        ただし、引っ掛かりにくい可能性があるのでタグ機能でまずは絞っていくことを当サイトではお勧めします。
        紹介は以上になりますが、使っていただくうえで他の機能も使えますので、充実したサイト利用をして下さい！
        <br>
        サイト製作者：石原嘉人
      </div>
    </div>
  </div>
</div>


